@import "bootstrap-sprockets";
@import "bootstrap-custom";

body {
    /* Background pattern from subtlepatterns.com */
    background-image: image-url("bg.png")
}

#expense-table {
    display: none;
}

#calculated-totals {
    display: none;
}
