<div class="container-fluid">

  <div class="row">
    <h3>Edit Report Name</h3>
  </div>

  <div class="row">
    <%= render 'form' %>
  </div>
  <br>

  <div class="row">
    <%= link_to 'Back to Report', report_path, class: 'btn btn-primary btn-sm' %>
  </div>

</div>
