<div class="container">

  <div class="row">
    <div class="col-xs-12 text-center">
      <h3>Edit Report Name</h3>
    </div>
  </div>

  <%= render 'form' %><br><br>

  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">
      <%= link_to 'Back to Report', report_path, class: 'btn btn-primary btn-sm' %>
    </div>
  </div>

</div>
