<div class="container-fluid">

  <div class="row">
    <h3>My Reports</h3>
  </div>

  <div class="row">
    <%= link_to 'Create Report', new_report_path, class: 'btn btn-primary btn-sm' %>
  </div>
  <br>

  <div class="row">
    <div class="col-xs-6">
      <table class="table table-striped">
        <tr>
          <th>In Progress Reports:</th>
        </tr>
        <% @reports.each do |report| %>
          <% if report.reconciled == false %>
            <tr>
              <td><%= link_to report.name, report_path(report) %></td>
            </tr>
          <% end %>
        <% end %>
      </table>
    </div>

    <div class="col-xs-6">
      <table class="table table-striped">
        <tr>
          <th>Generated Reports:</th>
        </tr>
        <% @reports.each do |report| %>
          <% if report.reconciled == true %>
            <tr>
              <td><%= link_to report.name, report_results_path(report) %></td>
            </tr>
          <% end %>
        <% end %>
      </table>
    </div>

</div>
